body {
    margin: 0;
    font-family: sans-serif;
}

div {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 16px;
    margin-left: 0;
    margin-right: 0;
}

li, a {
    text-decoration: none;
}

input, textarea {
    box-sizing: border-box;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.f-white {
    color: white;
}

.f-large {
    font-size: large;
}

.f-small {
    font-size: small;
}

.main-bg {
    display: flex;
    width: 100%;
    height: 350px;
    background: linear-gradient(cornflowerblue, mediumslateblue);
}

.main-content {
    width: 50%;
    padding: 80px;
    padding-top: 30px;
}

.main-img {
    width: 50%;
    padding: 80px;
    padding-bottom: 0;
    text-align: right;
}

.btn-grey {
    background-color: #454545;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.sub-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1px; */
    width: 100%;
    height: 200px;
    background-color: white;
    text-align: center;
}

.test {
    width: 100%;
    height: 10px;
    background-color: black;
}

.offer-bg {
    width: 100%;
    height: 300px;
    padding: 30px;
    text-align: center;
    background-color: mediumslateblue;
}

.offer-bg p {
    margin: 8px;
}

.offer-title {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.offer-items {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.offer-items-item {
    width: 25%;
    margin: 5px;
}

.offer-icons {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: mediumslateblue;
    padding: 15px;
    margin: auto;
}

.card-bg {
    width: 100%;
    background-color: white;
    padding: 30px;
    text-align: center;
}

.card-bg p {
    margin: 8px;
}

.cart-title {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.card-items {
    width: 50%;
    position: relative;
}

.card-items-txt {
    position: absolute;
    padding: 40px;
    padding-top: 50px;
    line-height: 2;
    text-align: left;
    z-index: 1;
}

.card-items img {
    width: 100%;
    display: block;
    filter: brightness(80%);
    z-index: 2;
}

